header {
	border: 1px red solid;
}

header ul li {
	display: inline-block;
	margin: 0 10px;
}

.disabled {
	color: grey;
}

a.disabled {
	color: purple;
}

.active {
	color: yellow;
}

.parent > div > div:nth-child(1) {
	color: red;
}

.parent > div > h4:nth-child(2) {
	color: red;
}

.parent > div > div:nth-child(3) {
	color: blue;
}

.parent > div > h4:nth-child(4) {
	color: blue;
}
